@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    /* background: red; */
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: linear-gradient(180deg, #2e2e2e 0%, #000000 100%);
}

.container {
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px #000;
}

.container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
}

.container .cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

.container form-content {
    height: 100%;
    width: 100%;
    background: #FFF;
}

.container .form-content {
    display: flex;
    align-items: center;
}

.form-content .login-form {
    width: calc(100% / 2 - 25px);
}

form .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

form .form-content .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #2a292b;
}

form .form-content .input-boxs {
    margin-top: 20px;
}

form .form-content .input-box {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.form-content .input-box input:focus {
    border-color: #3b393b;
}

.form-content .input-box i {
    position: absolute;
    color: #333136;
    font-size: 16px;
}

form .form-content .text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

form .form-content .text a {
    text-decoration: none;
}

form .form-content .text a:hover {
    text-decoration: underline;
}

form .form-content .button {
    color: #fff;
    margin-top: 40px;
}

form .form-content .button input {
    color: #fff;
    background: #2e2d30;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
}

form .form-content .button input:hover {
    background: #373338;
}